<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='bootstrap.css' />
    <link rel='stylesheet' href='bootstrap-responsive.css' />
    <link rel='stylesheet' href='style.css' />
    <title>Team Randomizer</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
